<?xml version="1.0" encoding="UTF-8"?>
<!--This is an example xml filled with random events, feel free to copy and paste your own events over these ones from the template!-->
<?xml-model href="connect.rnc" type="application/relax-ng-compact-syntax"?>
<events>
 <track type="1" name="early">
  <event>
    <title>Apple Founded</title>
    <date type="start">
      <year>1976</year>
      <month>04</month>
      <day>01</day>
      <era>CE</era>
    </date>
    <date type="end">
    </date>
    <description> Apple was founded by Steve Jobs, Steve Wozniak, and Ronald Wayne.</description>
    <lat>37.3230</lat>
    <lon>-122.0322</lon>
  </event>

  <event>
    <title>First iPhone Released</title>
    <date type="start">
      <year>2007</year>
      <month>06</month>
      <day>29</day>
      <era>CE</era>
    </date>
    <date type="end">
    </date>
    <description>Apple released the first iPhone in the United States. The device combined a mobile phone, an iPod, and an internet communication device.</description>
    <lat>37.3349</lat>
    <lon>-122.0090</lon>
    <media>https://www.apple.com/newsroom/2007/06/28iPhone-Premieres-This-Friday-Night-at-Apple-Retail-Stores/</media>
  </event>
  </track>
 
 <track type="2" name="recent">
  <event>
    <title>John Ternus Becomes Apple CEO</title>
    <date type="start">
      <year>2026</year>
      <month>09</month>
      <day>01</day>
      <era>CE</era>
    </date>
    <date type="end">
    </date>
    <description>John Ternus became CEO of Apple, succeeding Tim Cook. Tim Cook became Executive Chair of Apple's board.</description>
    <lat>37.3349</lat>
    <lon>-122.0090</lon>
    <media>https://www.apple.com/newsroom/2026/04/tim-cook-to-become-apple-executive-chairman-john-ternus-to-become-apple-ceo/</media>
  </event>
 
  <event>
    <title>iPhone 17 Release</title>
    <date type="start">
      <year>2025</year>
      <month>09</month>
      <day>19</day>
      <era>CE</era>
    </date>
    <date type="end">
    </date>
    <description>Apple released the iPhone 17, featuring the A19 chip, a 6.3-inch ProMotion display, and a 48MP Dual Fusion camera system.</description>
    <lat>37.3349</lat>
    <lon>-122.0090</lon>
    <media>https://www.apple.com/newsroom/2025/09/apple-debuts-iphone-17/</media>
  </event>
 </track>

<track type="3" name="future">
  <event>
    <title>iPhone 18 Pro and 18 Pro Max release</title>
    <date type="start">
      <year>2026</year>
      <month>09</month>
      <day>18</day>
      <era>CE</era>
    </date>
    <date type="end">
    </date>
    <description>The iPhone 18 Pro and 18 Pro Max are already announced: preorders started September 12, 2026, and they go on sale September 18, 2026.</description>
    <lat>37.3349</lat>
    <lon>-122.0090</lon>
    <media>https://www.apple.com/newsroom/2026/09/apple-debuts-iphone-18-pro-and-iphone-18-pro-max/?utm_source=chatgpt.com</media>
  </event>
 </track>
</events>
